server {
    listen 80;

    include proxy_params;
    add_header X-Proxy-Cache $upstream_cache_status;
    
    location /stats/v1.0/feed {
        proxy_pass http://unix:/service/service.sock;
        proxy_no_cache 1;
        proxy_cache_valid 200 1400m;
        proxy_cache_key $request_uri$http_user_id;
    }
    
    location / {
        proxy_pass http://unix:/service/service.sock;
        proxy_cache_min_uses 1;
        proxy_cache_valid 200 1200m;
        proxy_cache_key $request_uri;
    }

    # turn cache one
    proxy_cache servicecache;

    # one request at a time will be allowed to populate a new cache element
    proxy_cache_lock on;

    # only GET request are allowed by default
    proxy_cache_valid 404 10m;

    # stale cached can be used as response when cache is getting updated
    proxy_cache_use_stale updating;

    # cache key is based upon; http+url+requeststr+args
    proxy_cache_key $scheme$proxy_host$uri$is_args$args;
}

# locate for storage of cache; Min: 10MB, Max: 100MB
proxy_cache_path /tmp/cache keys_zone=servicecache:80m levels=1:2 inactive=60000s max_size=120m;


